extends ../layouts/common

block content
    h1 Create User

    if errors
        div= errors[0]

    form(action="/users/create", method="post" class="d-flex mb-3")
        label Name
        input(type="text", name="name" class="form-control")
        button(class="btn btn-primary ml-2") Create