extends ../layouts/common

block content
    h1 Create User

    if errors
        div= errors[0]

    form(action="/users/create", method="post", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input(type="text", name="name" class="form-control")
        .form-group
            label(for="email") Email
            input(type="text", name="email" class="form-control")
        .form-group
            label(for="phone") Phone
            input(type="text", name="phone" class="form-control")
        .form-group
            label(for="avatar") Avatar
            input(type="file", name="avatar" class="form-control-file")
        button(class="btn btn-primary ml-2") Create